$dt-dark-blue: hsl(235, 21%, 11%);
$dt-dark-blue--desaturated: hsl(234, 24%, 19%);
$dt-light-grey: hsl(234, 39%, 85%);
$dt-light-grey--hover: hsl(236, 33%, 92%);
$dt-dark-grey-blue: hsl(234, 11%, 52%);
$dt-very-dark-grey-blue: hsl(233, 14%, 35%);
$dt-very-dark-grey-blue--two: hsl(237, 14%, 26%);