*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  -webkit-transition: .2s ease;
  transition: .2s ease;
}

body {
  font-size: 18px;
  padding: 0;
  margin: 0;
  font-family: Poppins,sans-serif;
  background-color: #fafafa;
}

body.dark {
  background-color: #161722;
}

.heading {
  font-weight: 700;
  font-size: 2rem;
}

.heading--main {
  text-transform: uppercase;
  letter-spacing: .5rem;
  color: white;
}

.input-group {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 1.2rem;
  margin: 0 0 1.2rem;
  overflow: hidden;
  border-radius: 0.4rem;
}

.input-group__label {
  display: block;
  background-color: transparent;
  width: 1.5rem;
  height: 1.5rem;
  padding: .1rem;
  margin: 0 1rem 0 0;
  border-radius: 50%;
  border: 0.1rem solid #9394a5;
}

.input-group__input {
  outline: none;
  border: none;
  background-color: transparent;
  font-size: 18px;
}

.dark .input-group {
  background-color: #25273c;
}

.dark .input-group__label {
  border-color: #393a4c;
}

.dark .input-group__input {
  color: #cacde8;
}

.lists {
  background-color: transparent;
  overflow: hidden;
  border-radius: 0.4rem;
  -webkit-box-shadow: 0 10px 50px -40px #9394a5;
          box-shadow: 0 10px 50px -40px #9394a5;
}

.list {
  padding: 1rem 1.2rem;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.list--active .list__check {
  background: -webkit-gradient(linear, left top, right bottom, from(#57ddff), to(#c058f3));
  background: linear-gradient(to bottom right, #57ddff, #c058f3);
}

.list--active .list__check > img {
  display: block;
}

.list--active .list__text {
  text-decoration: line-through;
  color: #d2d3db;
}

.list:not(:last-of-type) {
  margin: 0 0 1px;
}

.list > div:first-of-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 90%;
      flex-basis: 90%;
}

.list__check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-preferred-size: 1.5rem;
      flex-basis: 1.5rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  height: 1.5rem;
  margin: 0 1rem 0 0;
  border-radius: 50%;
  border: 0.1rem solid #9394a5;
}

.list__check > img {
  display: none;
}

.list__text {
  font-size: 16px;
}

.list__text--faint {
  color: #9394a5;
}

.dark .lists {
  background-color: #4d5066;
  -webkit-box-shadow: 0 10px 50px -40px #4d5066;
          box-shadow: 0 10px 50px -40px #4d5066;
}

.dark .list {
  background-color: #25273c;
  color: #cacde8;
}

.dark .list__check {
  border-color: #393a4c;
}

.dark .list--active .list__text {
  color: #777a92;
}

.panel {
  padding: 1rem 1.2rem;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 0.4rem;
  margin: 1.2rem 0 0;
  -webkit-box-shadow: 0 10px 50px -10px #9394a5;
          box-shadow: 0 10px 50px -10px #9394a5;
}

.panel__link {
  padding: 0 3px;
  margin: 0 5px;
  color: #9394a5;
  font-weight: 700;
}

.panel__link--active {
  color: #3a7bfd;
}

.dark .panel {
  background-color: #25273c;
  color: #cacde8;
  -webkit-box-shadow: 0 10px 50px -40px #4d5066;
          box-shadow: 0 10px 50px -40px #4d5066;
}

.page {
  position: relative;
  background-color: #fafafa;
  min-height: 100vh;
  padding: 0 0 3rem;
}

.page__top {
  background-image: url("images/bg-mobile-light.jpg");
  background-size: cover;
  padding: 2.3rem 1rem 7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.page__bottom {
  position: absolute;
  top: 6rem;
  padding: 0 1rem;
  background-color: transparent;
}

.page__text {
  margin: 3.5rem 0;
  text-align: center;
  font-weight: 700;
  color: #9394a5;
}

.dark .page {
  background-color: #161722;
}

.dark .page .page__top {
  background-image: url("images/bg-mobile-dark.jpg");
}

@media (min-width: 1440px) {
  .page__top {
    background-image: url("images/bg-desktop-light.jpg");
  }
  .page.dark .page__top {
    background-image: url("images/bg-desktop-dark.jpg");
  }
}
/*# sourceMappingURL=main.css.map */