@import "scss/abstract/variables";

@import "scss/themes/dark",
        "scss/themes/light";

@import "scss/base/base",
        "scss/base/typography";

@import "scss/components/input-group",
        "scss/components/list",
        "scss/components/panel";

@import "scss/layouts/page";

.hidden {
    &--mobile {
        display: none;
    }

    &--desktop {
        display: flex;
    }
}

.lights {cursor: pointer;}

//@media (min-width: $view-desktop) {
@media (min-width: 1200px) {
    .hidden {
        &--mobile {
            display: flex;
        }
    
        &--desktop {
            display: none;
        }
    }
}